interactions:
- request:
    body: "--b96f112003f9b1927a5827b05a59f2cb\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"sample.txt\"\r\n\r\nHello, my name is Eric Sales De Andrade\r\n--b96f112003f9b1927a5827b05a59f2cb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b96f112003f9b1927a5827b05a59f2cb
    method: POST
    uri: https://file.io/
  response:
    body:
      string: '{"success":true,"status":200,"id":"4f403500-9c1c-11ef-bc9d-bfc75c822b94","key":"noeM381ApCUN","path":"/","nodeType":"file","name":"sample.txt","title":null,"description":null,"size":39,"link":"https://file.io/noeM381ApCUN","private":false,"expires":"2024-11-20T08:51:27.429Z","downloads":0,"maxDownloads":1,"autoDelete":true,"planId":0,"screeningStatus":"pending","mimeType":"text/plain","created":"2024-11-06T08:51:27.429Z","modified":"2024-11-06T08:51:27.429Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1cf-AqLF7mmVgpRGW3oUWecTK927I2g"
      Retry-After:
      - '1'
      X-RateLimit-Limit:
      - '1'
      X-RateLimit-Remaining:
      - '7'
      X-RateLimit-Reset:
      - '2024-11-06T08:51:28.404Z'
      x-file-io-anonymous-access-token:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0ZjNlODc1MC05YzFjLTExZWYtYmM5ZC1iZmM3NWM4MjJiOTQiLCJpYXQiOjE3MzA4ODMwODcsImV4cCI6MTczMDk2OTQ4N30.Zxxdo2jki9lNT3x7tWhRIOaeJUeT8qQ65AsexFpD-0E
    status:
      code: 200
      message: OK
version: 1
